{% extends main_layout %}

{% block title %}RudakGalleryBundle:Default:Index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <h1 class="main_title">Galeries photo</h1>

            <div class="row">
                {% for picture in pictures %}
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="thumbnail">
                            <img src="{{ picture.getwebpath|imagine_filter('gallery_index_front') }}"
                                 alt="{{ picture.gallery.name }} image {{ picture.id }}"/>

                            <div class="caption">

                                <a class="btn btn-primary btn-block"
                                   href="{{ path('rudak_gallery_gallery',{id:picture.gallery.id,slug:picture.gallery.name|slugit}) }}"
                                   title="{{ picture.gallery.name }} | Galerie crée le {{ picture.gallery.date|date('d/m/Y') }} [{{ picture.gallery|length }}]">
                                    {{ picture.gallery.name|capitalize }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-xs-12 col-sm-3">
            <h1>Publicité</h1>

            <div class="well">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi harum, inventore nam nulla odit
                    recusandae voluptas? Ab animi architecto consequuntur deserunt enim iste neque officia rerum sunt
                    unde? Consequatur, ullam?</p>
            </div>
        </div>
    </div>

{% endblock %}
