{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            <span class="badge">{{ entities|length }}</span>
            Galeries
        </li>
    </ol>

    <p>
        <a href="{{ path('admin_gallery_new') }}" class="btn btn-success ">
            Ajouter une galerie
        </a>
        <a href="{{ path('admin_gallery_picture_new') }}" class="btn btn-success ">
            <span class="glyphicon glyphicon-picture"></span>
            Ajouter une image
        </a>
    </p>


    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Public</th>
            <th>Date de création</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.public == false %}class="warning"{% endif %}>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.public %}
                        <span class="label label-success">Oui</span>
                    {% else %}
                        <span class="label label-warning">Non</span>
                    {% endif %}
                </td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <span class="label label-success">
                        {{ entity.pictures|length }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('admin_gallery_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Voir
                    </a>
                    <a href="{{ path('admin_gallery_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
