{% extends admin_layout %}

{% block layout %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_gallery') }}">
                Galeries
            </a>
        </li>
        <li class="active">Voir</li>
    </ol>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Public</th>
            <td>
                {% if entity.public %}
                    <span class="label label-success">Oui</span>
                {% else %}
                    <span class="label label-warning">Non</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>



    <p>
        <a href="{{ path('admin_gallery_edit', { 'id': entity.id }) }}"
           class="btn btn-warning">
            Modifier
        </a>
    </p>
    {{ form(delete_form) }}

{% endblock %}
